header {
  margin-bottom: 15em;
}

form {
  font-size: 2em;
}

.searchBox {
  border-radius: 10px;
}

section {
  font-size: 1.5em;
  margin-top: 2em;
  font-family: "Bitter", serif;
}

.submitButton {
  font-family: "Bitter", serif;
  border-radius: 10px;
}
