h1 {
  font-size: 5em;
  margin-left: 1.75em;
  font-family: "Aladin", Helvetica, Arial, sans-serif;
  color: #00bcd4;
}
p {
  font-size: 1.5em;
  font-family: "Bitter", "Roboto", Arial, serif;
  color: #fff;
}
#ingredient {
  font-size: 1em;
  font-family: "Bitter", "Roboto", Arial, serif;
  color: #fff;
}
header {
  margin-bottom: 4em;
}
