#selectButtons {
  display: flex;
  flex-direction: row;
  align-content: center;
}

#checkmark {
  border-radius: 50%;
  background-color: #FFF;
}

#ex {
  border-radius: 50%;
}

#main {
  font-family: "Bitter", serif;
  align-content: center;
}
